---
interface Link{
  href:string;
  text:string;
}
interface Props{
  title:string;
  links?:Link[];
}
const {title,links} = Astro.props;
let visible = false;
---
<aside id="sbContainer" class=`w-[${visible?"64":"0"}] overflow-hidden border px-1 py-2`>
  <div class="h-full flex items-center gap-0">
    <h2>{visible?title:""}</h2>
    <nav>
      <ul>
        { links&&
          links.map(link=>{
            return <li>
              <a href={link.href}>{link.text}</a>
            </li>
          })
        }
    </ul>
  </nav>
  <div>
    <button id="sidebarShowBtn" class="hover:cursor-pointer">&gt;</button>
  </div>
  </div>
</aside>
<script >
  const sbarShowbtn = document.getElementById("sidebarShowBtn");
  const sbCont = document.getElementById("sbContainer");
  let isVisible = false;
  sbarShowbtn?.addEventListener(()=>{
    sbCont.className = isVisible?"bg-red-500":"bg-green-500";
    isVisible=!isVisible;
    console.log("click");
  })
</script>