---
import "../styles/global.css";
import Sidebar from "../components/react/Sidebar";
import ButtonBar from "../components/react/ButtonBar";
import type { Link } from "../types/types";
const links:Link[] = [{href:"https://youtube.com",text:"Youtube"},{href:"/about",text:"about"}]
---
<!DOCTYPE html>
<html lang="es">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <body class="w-full h-screen flex flex-col">
    <header class="flex justify-between items-center h-fit w-screen  p-2">
      <div class="flex gap-8">
        <ButtonBar client:load>
          <img src="/public/Icons/menu.svg" alt="menu icon">
        </ButtonBar>
        <a href="/"><img src="/public/Icons/home.svg" alt="home"></a>
      </div>
      <div class="  flex justify-center">
        <h1 class="text-4xl text-emerald-600">Holi</h1>
      </div>
      <div class="">
        x
      </div>
    </header>
    <main class="flex-1 flex">
      <Sidebar title="Menu" links={links} client:load/>
      <slot/>
    </main>
    <footer class="h-fit py-4 flex justify-center">
      <p>&copy; 2026 Todos los derechos reservados.</p>
    </footer>
  </body>
</html>