---
import "../styles/global.css";
import Sidebar from "../components/react/Sidebar";
import type { Link } from "../types/types";
const links:Link[] = [{href:"https://youtube.com",text:"Youtube"},{href:"https://jk.anime.net",text:"JkAnime"}]
---
<div class="w-full h-screen flex flex-col">
  <header class="flex justify-center w-screen border p-2">
    <h1 class="text-4xl text-emerald-600">Holi</h1>
  </header>
  <div class="flex-1 flex">
    <Sidebar title="Menu" links={links} client:load/>
    <slot/>
  </div>
  <footer class="h-fit py-4 flex justify-center">
    <p>&copy; 2026 Todos los derechos reservados.</p>
  </footer>
</div>